<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <img width="300" class="rounded-circle img-thumbnail" src="./img/me.jpg" alt="me">
      <h1 class="display-4">Hasyim Kicuyy</h1>
      <p class="lead">Mahasiswa | Suka Mancing</p>
    </div>
  </div>
</div>